.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /* height: 40vmin; */
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  min-height: 6em;
}

.navbar-dark {
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  color: #fff;
  background-color: rgb(52, 58, 64, 0.8) !important;
}

.bg-Navbar {
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  color: #fff;
  background-color: rgb(52, 58, 64, 0.8);
}

.formInlineLabel {
  margin: 0 1rem 0 1rem;
}

.navElement {
  margin-right: 2rem;
}

.navElement .btn {
  margin-left: 1rem;
}

.modal-content {
  background-color: rgb(52, 58, 64, 0.95);
  font-family: "Roboto Mono", monospace;
  color: #fff;
}

.modal-header {
  border: none;
}

.modal-header span {
  color: #fff;
}

a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

/* @media only screen and (max-device-width: 480p) {
  .bsNavbar {
    height: 50em;
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    color: #fff;
    background-color: rgb(52, 58, 64, 0.8);
  }
  .formInlineLabel {
    margin-right: 1rem;
    margin: 1rem;
  }
} */
